body {
  overflow-x: auto;
  overflow-y: hidden;
  color: #d1d7db;
  margin-right: 0;
  padding: 0;
}

/* left side user prfile bar  */
.profilebar-container {
  position: relative;
  height: 70px;
  width: 460px;
  background-color: #202c35;
  color: azure;
  display: flex;
}
.profilebar-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}
.profilebar-container img:hover {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.profilebar-container .status,
.chat,
.settings {
  position: relative;
  left: 160px;
  top: 2vh;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  flex-direction: row;
}

.profilebar-container .status:hover {
  background-color: #36413e;
  border-radius: 50%;
}
.profilebar-container .chat:hover {
  background-color: #36413e;
  border-radius: 50%;
}
.profilebar-container .settings:hover {
  background-color: #36413e;
  border-radius: 50%;
}

.profilebar-container .setting_click_container {
  position: relative;
  background-color: #2a3741;
  height: 180px;
  width: 170px;
  z-index: 5;
  left: -20px;
  top: 70px;
}
.setting_click_container ul {
  margin: 0px;
  position: relative;
  left: -20px;
  align-items: center;
  justify-content: center;
}
.setting_click_container li {
  position: relative;
  width: 160px;
  top: 5px;
  left: -22px;
  padding: 5px;
  margin: 2px;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
  list-style-type: none;
}
.setting_click_container li:hover {
  background-color: #182229;
}

/* left side user recent chat list  */
.chatlist-container {
  position: relative;
  width: 460px;
  height: 725px;
  background-color: #111b21;
  color: white;
}

.chatlist-container .searchBox {
  position: relative;
  top: 10px;
  left: 10px;
  width: 410px;
  height: 40px;
  border-radius: 10px;
  background-color: #202c35;
  border: 0px;
}
.chatlist-container .searchBox #icon {
  position: relative;
  left: 10px;
  top: 3px;
}

.chatlist-container .searchBox input {
  position: relative;
  height: 38px;
  width: 380px;
  background-color: #202c35;
  border: 0px;
  border-radius: 10px;
  left: 20px;
  color: aliceblue;
  font-size: 15px;
}
.chatlist-container .searchBox input:focus {
  outline: none;
}

.allchats {
  position: relative;
  top: 20px;
  height: 664px;
  width: 460px;
  border-top: 1px solid rgb(226, 230, 233, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202c35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 96, 96);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* left side singlechat_container user image latest msg and time */
.singlechat_container {
  position: relative;
  height: 75px;
  width: 460px;
  background-color: #111b21;
  box-shadow: 0 4px 8px 0 rgba(27, 26, 26, 0.2),
    0 6px 20px 0 rgba(128, 120, 120, 0.19);
}

.singlechat_container img {
  position: relative;
  height: 55px;
  width: 55px;
  padding: 10px;
  border-radius: 50%;
}

.singlechat_container .name {
  position: relative;
  left: 80px;
  color: white;
  height: 75px;
  width: 80%;
  top: -98px;
  border-bottom: 1px solid rgb(226, 230, 233, 0.1);
  z-index: 1;
}

.singlechat_container .name #login {
  position: relative;
  top: 10px;
  font-size: large;
  opacity: 0.8;
  left: 10px;
  text-transform: capitalize;
}
.singlechat_container .name #latest_msg {
  position: relative;
  top: -38px;
  font-size: 15px;
  opacity: 0.8;
  left: 25px;
  text-transform: capitalize;
}

.singlechat_container .name #time {
  position: relative;
  top: -110px;
  font-size: small;
  opacity: 0.8;
  left: 300px;
  text-transform: capitalize;
}
.singlechat_container .name #right_tick {
  position: relative;
  top: 2px;
  font-size: small;
  opacity: 0.8;
  left: 0px;
  color: #22b2f0;
  text-transform: capitalize;
}

/* right side container before user clicks on any name */

.MainChat-container {
  position: absolute;
  margin-left: 460px;
  top: 0px;
  width: 1080px;
  background-color: #222e35;
  height: 795px;
  align-items: left;
  display: flex;
  justify-content: left;
}

.MainChat-container .logo {
  position: relative;
  height: 450px;
  top: 220px;
  left: 350px;
}
.MainChat-container p {
  color: white;
  font-size: 40px;
  position: relative;
  top: -15px;
  left: 50px;
  width: 90%;
}
.MainChat-container #clone {
  position: relative;
  height: 25px;
  width: 70px;
  top: -90px;
  left: 340px;
  background-color: rgb(226, 230, 233, 0.1);
  border-radius: 20px;
}
.MainChat-container #clone > p {
  color: white;
  font-size: 20px;
  position: relative;
  top: -2px;
  left: 10px;
  opacity: 0.4;
}
.MainChat-container .quote #line1 {
  position: relative;
  top: -80px;
  left: 20px;
  font-size: 15px;
  opacity: 0.4;
  word-break: break-all;
}

.MainChat-container .quote #line2 {
  position: relative;
  top: -131px;
  left: 45px;
  font-size: 15px;
  opacity: 0.4;
}
/* right side container when any user is selected */
.ActiveProfile-container2 {
  position: absolute;
  margin-left: 460px;
  top: 0px;
  width: 770px;
  background-image: url("../images/default.jpg");
  background-repeat: repeat;
  height: 795px;
}
.ActiveProfile-container {
  position: absolute;
  margin-left: 460px;
  top: 0px;
  width: 1100px;
  background-image: url("../images/default.jpg");
  background-repeat: repeat;
  height: 795px;
}
.activeProfile-Navbar {
  position: relative;
  top: 0px;
  width: 1100px;
  background-color: #202c33;
  height: 70px;
  cursor: pointer;
  z-index: 1;
}
.activeProfile-Navbar2 {
  position: relative;
  top: 0px;
  width: 615px;
  background-color: #202c33;
  height: 70px;
  cursor: pointer;
  z-index: 1;
}

.activeProfile-Navbar img,
.activeProfile-Navbar2 img {
  position: relative;
  top: 5px;
  left: 20px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.activeProfile-Navbar .name {
  position: relative;
  top: -65px;
  left: 0px;
  width: 900px;
}
.activeProfile-Navbar2 .name {
  position: relative;
  top: -65px;
  left: 0px;
  width: 500px;
}

.activeProfile-Navbar .name #name {
  position: relative;
  /* padding: 5px; */
  top: 0;
  left: 90px;
  color: azure;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  width: 900px;
  overflow: hidden;
}
.activeProfile-Navbar2 .name #name {
  position: relative;
  top: 0;
  left: 90px;
  color: azure;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  width: 450px;
  overflow: hidden;
}
.activeProfile-Navbar .name #online {
  position: relative;
  top: -20px;
  left: 91px;
  color: azure;
  font-size: 14px;
  opacity: 0.5;
  width: 900px;
}
.activeProfile-Navbar2 .name #online {
  position: relative;
  top: -20px;
  left: 91px;
  color: azure;
  font-size: 14px;
  opacity: 0.5;
  width: 450px;
}
.activeProfile-Navbar .profile_icons {
  position: relative;
  justify-content: space-around;
  top: -150px;
  left: 0px;
  height: 100px;
  width: 100px;
  color: aliceblue;
}
.activeProfile-Navbar #search {
  position: relative;
  top: 20px;
  left: 940px;
}
.activeProfile-Navbar2 #search2 {
  position: relative;
  top: -130px;
  left: 450px;
}
.activeProfile-Navbar .settings {
  position: relative;
  top: -20px;
  left: 980px;
}
.activeProfile-Navbar2 .settings2 {
  position: relative;
  top: -130px;
  left: 490px;
}

/* Message bar  inside active profile*/
.messagebar-container {
  position: relative;
  top: 655px;
  width: 1080px;
  background-color: #202c33;
  height: 70px;
}
.messagebar-container2 {
  position: relative;
  top: 655px;
  width: 615px;
  background-color: #202c33;
  height: 70px;
}
.messagebar-container2 #message2 {
  position: absolute;
  left: 140px;
  top: 5px;
  height: 50px;
  bottom: 5px;
  width: 360px;
  background-color: #2a3942;
  border: 1px solid #2a3942;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  color: white;
  padding-left: 30px;
}

.messagebar-container #message {
  position: absolute;
  left: 140px;
  top: 5px;
  height: 50px;
  bottom: 5px;
  width: 800px;
  background-color: #2a3942;
  border: 1px solid #2a3942;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  color: white;
  padding-left: 30px;
}

.messagebar-container .smiley,
.messagebar-container2 .smiley {
  position: absolute;
  left: 16px;
  top: 12px;
  height: 45px;
}

.messagebar-container .smiley:hover,
.messagebar-container2 .smiley:hover {
  color: #6c9aad;
}

.messagebar-container2 .send2 {
  position: absolute;
  left: 550px;
  top: 8px;
  height: 45px;
}
.messagebar-container .send {
  position: absolute;
  left: 995px;
  top: 8px;
  height: 45px;
}
.messagebar-container .send:hover,
.messagebar-container2 .send2:hover {
  color: #6c9aad;
}

.messagebar-container .file,
.messagebar-container2 .file {
  position: absolute;
  left: 80px;
  top: 16px;
  color: rgb(186, 197, 207);
}
.messagebar-container .file:hover,
.messagebar-container2 .file:hover {
  color: #6c9aad;
}

.messagebar-container input:focus,
.messagebar-container2 input:focus {
  outline: none;
}

.messagebar-container .emoji,
.messagebar-container2 .emoji {
  position: relative;
  left: 10px;
  top: -340px;
  z-index: 10;
  transition: 1s;
}

.emoji[wobble="1"] {
  animation: wobble 2s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

/* Messages sent inside active profile container*/
.message_container2 {
  position: relative;
  top: -91px;
  height: 651px;
  width: 558px;
  left: 50px;
  overflow: auto;
  transform: rotateZ(180deg);
  direction: rtl;
}
.message_container {
  position: relative;
  top: -91px;
  height: 651px;
  width: 1038px;
  left: 50px;
  overflow: auto;
  transform: rotateZ(180deg);
  direction: rtl;
}
.leftside_message {
  position: relative;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-word;
}
.rightside_message {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-word;
}

.align-left {
  align-self: flex-start;
  margin-right: 2rem;
  width: fit-content;
  height: fit-content;
  max-width: 500px;
}
.align-left .timestamp {
  position: relative;
  float: right;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 15px;
  opacity: 0.8;
}

.align-right {
  align-self: flex-end;
  margin-left: 2rem;
  width: fit-content;
  height: fit-content;
  max-width: 550px;
}
.align-right .timestamp {
  position: relative;
  float: right;
  font-size: 12px;
  top: 7px;
  padding-top: 5px;
  padding-left: 15px;
  opacity: 0.8;
}
.align-right .timestamp2 {
  position: relative;
  font-size: 12px;
  top: 7px;
  padding-top: 0px;
  padding-left: 15px;
  opacity: 0.8;
}

.timestamp .right_tick {
  position: relative;
  float: right;
  left: 4px;
  top: 2px;
  padding: 0px;
  color: #22b2f0;
  opacity: 1.5;
}
.timestamp2 .right_tick2 {
  position: relative;
  float: right;
  left: 4px;
  top: 2px;
  padding: 0px;
  color: #22b2f0;
  opacity: 1.5;
}
.message {
  display: flex;
  transform: rotateX(180deg);
}
.message:not(:last-child) {
  margin-bottom: 0.5rem;
}

.bubble {
  padding: 0.5rem 1rem;
  transform: rotateZ(180deg);
  box-shadow: 0 1px 1px 0 hsl(0, 0%, 31%);
}
.left {
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background-color: #2a3741;
  color: hsl(0, 0%, 99%);
  transform: rotateY(180deg);
}

.right {
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  transform: rotateY(180deg);
  background-color: #0a6e59;
  color: hsl(0, 0%, 100%);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  box-shadow: 0 1px 0.5px -0.5px hsl(0, 0%, 31%);
}

.triangle-left {
  border-bottom: 0.5rem solid #2a3741;
  transform-origin: 6.4px;
  transform: translateX(-4.9px) rotate(-45deg);
  z-index: 1;
}

.triangle-right {
  border-bottom: 0.5rem solid #0a6e59;
  transform-origin: 9.7px;
  transform: translateX(5.5px) rotate(45deg);
}

/* container to show uploaded file  */
.messagebar-container .box2,
.messagebar-container2 .box2 {
  position: relative;
  left: 60px;
  height: 200px;
  width: 30px;
  background-color: transparent;
  animation: z 0.5s 1;
  z-index: 1;
  top: -170px;
}
.messagebar-container .box2:hover,
.messagebar-container2 .box2:hover {
  cursor: pointer;
}

.messagebar-container .box2 svg,
.messagebar-container2 .box2 svg {
  animation: grow 0.5s 1;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

@keyframes grow {
  0% {
    height: 0px;
  }

  100% {
    height: 53px;
  }
}
@keyframes z {
  0% {
    top: -100px;
  }

  100% {
    top: -170px;
  }
}

.box2 button {
  background-color: transparent;
  border: 0;
  height: 55px;
  width: 55px;
}

.fileUploaded {
  position: absolute;
  width: 1080px;
  height: 645px;
  background-color: #202c33;
  overflow: auto;
  top: -650px;
  z-index: 1;
}

.fileUploaded img {
  height: 600px;
  width: 1080px;
}
.sendFileBackground {
  height: 40px;
  width: 1080px;
  background-color: #202c33;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
  opacity: 0.5;
  border-radius: 10px;
  cursor: pointer;
}
.sendFileBackground:hover {
  background-color: #6c9aad;
}

.webcam {
  position: relative;
  height: 600px;
  width: 1100;
  top: -800px;
  z-index: 2;
  position: absolute;
  width: 1080px;
  background-color: #202c33;
  overflow: auto;
  top: -650px;
}

.sendImageBackground {
  position: relative;
  top: -45px;
  height: 20px;
  width: 1080px;
  background-color: #202c33;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}
.sendImageBackground:hover {
  background-color: #6c9aad;
}

/* user chat profile view inside active profile  */
.chatprofileview_container {
  position: absolute;
  height: 100%;
  width: 480px;
  top: 0;
  right: -320px;
  background-color: #111b21;
  overflow-x: scroll;
}
.chatprofileview_container .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 70px;
  width: 480px;
  background-color: #202c33;
}
.navbar p {
  position: relative;
  left: 100px;
  bottom: 26px;
  font-size: 22px;
  font-weight: 450;
  opacity: 0.9;
  width: 50%;
}
.chatprofileview_container .image {
  position: relative;
  top: 0px;
  height: 390px;
  width: 480px;
  background-color: #1d262b;
}
.chatprofileview_container img {
  position: relative;
  top: 20px;
  left: 100px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.chatprofileview_container #name {
  position: relative;
  font-size: 28px;
  left: 190px;
  text-transform: capitalize;
  font-weight: 600;
  width: 50%;
}
.chatprofileview_container .about {
  position: relative;
  top: -10px;
  height: 70px;
  width: 480px;
  background-color: #1d262b;
}
.chatprofileview_container #about {
  position: relative;
  top: 0px;
  font-size: 18px;
  left: 20px;
  opacity: 0.8;
  width: 90%;
}
.chatprofileview_container #quote {
  position: relative;
  top: -22px;
  font-size: 22px;
  left: 20px;
  opacity: 0.9;
  font-family: cursive;
  width: 90%;
}
.chatprofileview_container .media {
  position: relative;
  top: -3px;
  height: 170px;
  width: 480px;
  background-color: #1d262b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.media p {
  position: relative;
  top: 2px;
  font-size: 18px;
  left: 20px;
  width: 90%;
  opacity: 0.8;
}
.media img {
  position: relative;
  height: 100px;
  width: 100px;
  top: -10px;
  left: 20px;
  margin: 3px;
  border-radius: 10%;
}

.chatprofileview_container .starred {
  position: relative;
  top: 5px;
  height: 70px;
  width: 480px;
  background-color: #1d262b;
}

.starred p {
  position: relative;
  top: -26px;
  left: 80px;
  font-size: 20px;
  width: 70%;
}
.chatprofileview_container .notification {
  position: relative;
  top: 15px;
  height: 220px;
  width: 480px;
  background-color: #1d262b;
}
.notification p {
  position: relative;
  top: -28px;
  left: 80px;
  font-size: 20px;
  width: 70%;
}
.disappear p:nth-child(2) {
  position: relative;
  top: -72px;
  left: 80px;
  font-size: 20px;
  width: 70%;
}
.disappear p:nth-child(3) {
  position: relative;
  top: -88px;
  left: 80px;
  font-size: 16px;
  width: 70%;
  opacity: 0.6;
}

.encryption p:nth-child(2) {
  position: relative;
  top: -152px;
  left: 80px;
  font-size: 20px;
  width: 70%;
}
.encryption p:nth-child(3) {
  position: relative;
  top: -168px;
  left: 80px;
  font-size: 16px;
  width: 70%;
  opacity: 0.6;
}

.chatprofileview_container .block_report {
  position: relative;
  top: 25px;
  height: 120px;
  width: 480px;
  background-color: #1d262b;
}

.block_report .block {
  position: relative;
  top: 15px;
  left: 60px;
  font-size: 20px;
  width: 70%;
  text-transform: capitalize;
  color: rgb(209, 65, 65);
  font-weight: 500;
}

.block_report .report {
  position: relative;
  top: 40px;
  left: 60px;
  font-size: 20px;
  width: 70%;
  text-transform: capitalize;
  color: rgb(209, 65, 65);
  font-weight: 500;
}

.chatprofileview_container .delete {
  position: relative;
  top: 35px;
  height: 70px;
  width: 480px;
  background-color: #1d262b;
}
.delete p {
  position: relative;
  top: -30px;
  left: 85px;
  font-size: 20px;
  width: 70%;
  text-transform: capitalize;
  color: rgb(209, 65, 65);
  font-weight: 500;
}

/* leftside container which displays owners profile info */

.sidebar {
  position: absolute;
  top: 14px;
  left: 0px;
}

.fabar {
  width: 100%;
  margin: auto;
}

@keyframes slideInFromLeft {
  0% {
    width: 0px;
  }

  100% {
    width: 460px;
  }
}

.expanded_sidebar {
  width: 460px;
  height: 735px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111b21;
  overflow-x: hidden;
  padding-top: 60px;
  animation-name: slideInFromLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.expanded_sidebar .close_button {
  background-color: #202c33;
  position: relative;
  top: -85px;
  height: 130px;
}
.close_button .closeIcon {
  position: relative;
  top: 80px;
  left: 50px;
  cursor: pointer;
}
.close_button p {
  position: relative;
  top: 19px;
  left: 105px;
  font-size: x-large;
}
.contents img {
  position: relative;
  height: 280px;
  width: 280px;
  left: 70px;
  top: -50px;
  border-radius: 50%;
  animation: imagepopup 0.5s 1;
}
.contents #yourName {
  position: relative;
  color: rgb(31, 163, 119);
  font-size: 16px;
  left: 40px;
  top: -20px;
}
.contents #name {
  position: relative;
  font-size: 20px;
  left: 40px;
  top: -30px;
}
.contents #warinng {
  position: relative;
  font-size: 14px;
  left: 40px;
  top: -30px;
  word-wrap: break-word;
  opacity: 0.8;
}
.contents #about {
  position: relative;
  color: rgb(31, 163, 119);
  font-size: 16px;
  left: 40px;
  top: -20px;
}
.contents #about2 {
  position: relative;
  font-size: 20px;
  left: 40px;
  top: -20px;
}
.contents2 img {
  position: relative;
  height: 280px;
  width: 280px;
  left: 70px;
  top: -50px;
  border-radius: 50%;
  transition: 0.1s ease-out;
}

@keyframes imagepopup {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 280px;
    height: 280px;
  }
}
@keyframes slideOutToLeft {
  0% {
    width: 460px;
  }

  100% {
    width: 0px;
  }
}
.closingBar {
  width: 460px;
  height: 735px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111b21;
  overflow-x: hidden;
  padding-top: 60px;
  animation-name: slideOutToLeft;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* statu page starts here  */
/* container to display status uploaded users  */
.status_sidebar {
  height: 792px;
  position: absolute;
  width: 400px;
  top: 0px;
  background-color: #1f2a31;
}
.status_sidebar img {
  position: relative;
  top: -70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 15px;
}
.status_sidebar #my_status {
  position: relative;
  left: 90px;
  top: 20px;
  font-size: 22px;
  font-weight: 400;
}
.status_sidebar #no_update {
  position: relative;
  left: 90px;
  top: 0px;
  font-size: 15px;
  font-weight: 400;
}
.status_sidebar .line {
  position: relative;
  top: -45px;
  width: 370px;
  height: 2px;
  left: 10px;
  background-color: #424a4e;
  opacity: 0.5;
}

.status_Mainbar {
  margin-left: 400px;
  background-color: #1b2b35;
  width: 1140px;
  height: 792px;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.status_Mainbar #cancel {
  position: relative;
  left: 1090px;
  top: 3px;
  cursor: pointer;
}
.status_Mainbar #cancel:hover {
  background-color: #525f5c;
  border-radius: 10%;
}

/* status page right side container */
.dummy {
  position: absolute;
  height: 450px;
  width: 250px;
  left: 50px;
  top: 150px;
  visibility: hidden;
  background-color: #1f2a31;

  animation: slideLeft1 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.one {
  position: absolute;
  height: 450px;
  width: 250px;
  left: 50px;
  top: 150px;
  background-color: #1f2a31;

  animation: slideLeft1 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@keyframes slideLeft1 {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    opacity: 0.5;
    height: 450px;
    width: 250px;
    left: 850px;
    top: 150px;
  }
}

.one2 {
  position: absolute;
  height: 450px;
  width: 250px;
  left: 850px;
  top: 150px;
  animation: slideLeft11 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@keyframes slideLeft11 {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    opacity: 0.5;
    height: 450px;
    width: 250px;
    left: 50px;
    top: 150px;
  }
}

.one * {
  position: relative;
  height: 450px;
  width: 250px;
}
.one2 * {
  position: relative;
  height: 450px;
  width: 250px;
}
.three2 * {
  position: relative;
  height: 450px;
  width: 250px;
}
.two * {
  position: relative;
  height: 450px;
  width: 250px;
}
.three * {
  position: relative;
  height: 100px;
  animation: slideLeftImg2 0.5s forwards;
  opacity: 1;
  z-index: 5;
}

@keyframes slideLeftImg2 {
  0% {
    background-color: #1f2a31;
    width: 250px;
    height: 250px;
  }
  100% {
    background-color: #1f2a31;
    opacity: 1;
    height: 700px;
    width: 450px;
    left: 0px;
  }
}
.two2 * {
  position: relative;
  height: 100px;
  animation: slideLeftImg 0.5s forwards;
  opacity: 1;
  z-index: 5;
}
@keyframes slideLeftImg {
  0% {
    background-color: #1f2a31;
    width: 250px;
    height: 250px;
  }
  100% {
    background-color: #1f2a31;
    opacity: 1;
    height: 700px;
    width: 450px;
  }
}

.two {
  position: relative;
  height: 650px;
  width: 450px;
  left: 350px;
  top: 50px;
  animation: slideLeft2 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@keyframes slideLeft2 {
  0% {
    height: 0;
    width: 0;
  }

  100% {
    opacity: 0.5;
    height: 450px;
    width: 250px;
    left: 50px;
    top: 100px;
    display: flex;
    flex-direction: row;
  }
}

.two2 {
  position: relative;
  height: 450px;
  width: 250px;
  left: 50px;
  animation: slideLeft22 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@keyframes slideLeft22 {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    height: 700px;
    width: 450px;
    left: 350px;
  }
}

.three {
  position: absolute;
  height: 450px;
  width: 250px;
  left: 850px;
  top: 150px;
  text-shadow: 0 0.1rem 1rem #000;
  animation: slideLeft3 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@keyframes slideLeft3 {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    height: 650px;
    width: 450px;
    left: 350px;
    top: 50px;
  }
}
.three2 {
  position: absolute;
  height: 650px;
  width: 450px;
  left: 350px;
  top: 50px;
  text-shadow: 0 0.1rem 1rem #000;
  animation: slideLeft33 0.5s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@keyframes slideLeft33 {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    opacity: 0.5;
    height: 450px;
    width: 250px;
    left: 850px;
    top: 150px;
  }
}

/* status sidebar */

.allstatus {
  position: relative;
  top: 150px;
  height: 640px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
.singleStatus_container {
  position: relative;
  height: 75px;
  width: 460px;
  background-color: #1f2a31;
  box-shadow: 0 4px 8px 0 rgba(27, 26, 26, 0.2),
    0 6px 20px 0 rgba(128, 120, 120, 0.19);
  cursor: pointer;
}

.singleStatus_container:active {
  background-color: rgb(45, 73, 67);
}

.singleStatus_container img {
  position: relative;
  height: 55px;
  width: 55px;
  top: 7px;
  left: 6px;
  border-radius: 50%;
}

.singleStatus_container .circle {
  position: absolute;
  top: 4.1px;
  left: 3px;
}
.singleStatus_container .name {
  position: relative;
  left: 80px;
  color: white;
  height: 75px;
  width: 80%;
  top: -77px;
  border-bottom: 1px solid rgb(226, 230, 233, 0.1);
  z-index: 1;
}

.singleStatus_container .name #login {
  position: relative;
  top: 10px;
  font-size: large;
  opacity: 0.8;
  left: 10px;
  text-transform: capitalize;
}

.singleStatus_container .name #time {
  position: relative;
  top: -75px;
  font-size: 14px;
  opacity: 0.7;
  left: 10px;
  text-transform: capitalize;
  color: aliceblue;
  z-index: 100;
}
